openapi: 3.0.2
info:
  title: Voice Markertplace accents stats API
  version: 0.6.0
servers:
- url: https://gateway.respeecher.com
  description: Respeecher Voice Marketplace API gateway
tags:
- name: stats
paths:
  /api/stats:
    get:
      tags:
      - stats
      summary: Get Stats
      operationId: get_stats_api_stats_get
      parameters:
      - required: false
        schema:
          title: X-Csrf-Token
          type: string
        name: x-csrf-token
        in: header
      - required: false
        schema:
          title: Api-Key
          type: string
        name: api-key
        in: header
      - required: false
        schema:
          title: Session Id
          type: string
        name: session_id
        in: cookie
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsUserResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/stats/projects:
    post:
      tags:
      - stats
      summary: Get Project Stats
      operationId: get_project_stats_api_stats_projects_post
      parameters:
      - required: false
        schema:
          title: X-Csrf-Token
          type: string
        name: x-csrf-token
        in: header
      - required: false
        schema:
          title: Api-Key
          type: string
        name: api-key
        in: header
      - required: false
        schema:
          title: Session Id
          type: string
        name: session_id
        in: cookie
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatsProjectRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Project Stats Api Stats Projects Post
                type: array
                items:
                  $ref: '#/components/schemas/StatsProjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/stats/folders:
    post:
      tags:
      - stats
      summary: Get Folder Stats
      operationId: get_folder_stats_api_stats_folders_post
      parameters:
      - required: false
        schema:
          title: X-Csrf-Token
          type: string
        name: x-csrf-token
        in: header
      - required: false
        schema:
          title: Api-Key
          type: string
        name: api-key
        in: header
      - required: false
        schema:
          title: Session Id
          type: string
        name: session_id
        in: cookie
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatsFolderRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Folder Stats Api Stats Folders Post
                type: array
                items:
                  $ref: '#/components/schemas/FolderStats'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    StatsProjectRequest:
      title: StatsProjectRequest
      required:
      - project_ids
      type: object
      properties:
        project_ids:
          title: Project Ids
          maxItems: 200
          minItems: 0
          type: array
          items:
            type: string
            format: uuid4
    StatsFolderRequest:
      title: StatsFolderRequest
      required:
      - folder_ids
      type: object
      properties:
        folder_ids:
          title: Folder Ids
          maxItems: 200
          minItems: 0
          type: array
          items:
            type: string
            format: uuid4
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    FolderStats:
      title: FolderStats
      required:
      - folder_id
      - stats
      type: object
      properties:
        folder_id:
          title: Folder Id
          type: string
          format: uuid4
          example: 00000000-0000-0000-0000-000000000001
        stats:
          $ref: '#/components/schemas/ConversionStats'
    ModelStats:
      title: ModelStats
      required:
      - id
      - name
      - conversions_count
      - converted_time
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid4
        name:
          title: Name
          type: string
        conversions_count:
          title: Conversions Count
          type: integer
        converted_time:
          title: Converted Time
          type: number
    StatsDurationPreviousMonthes:
      title: StatsDurationPreviousMonthes
      required:
      - total
      - current_month
      - previous_monthes
      type: object
      properties:
        total:
          title: Total
          type: integer
        current_month:
          title: Current Month
          type: integer
        previous_monthes:
          title: Previous Monthes
          type: array
          items:
            $ref: '#/components/schemas/PreviousMonthDurationStat'
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ConversionStats:
      title: ConversionStats
      required:
      - total
      - completed
      - in_progress
      - failed
      type: object
      properties:
        total:
          title: Total
          type: integer
        completed:
          title: Completed
          type: integer
        in_progress:
          title: In Progress
          type: integer
        failed:
          title: Failed
          type: integer
    StatsDuration:
      title: StatsDuration
      required:
      - total
      - current_month
      type: object
      properties:
        total:
          title: Total
          type: integer
        current_month:
          title: Current Month
          type: integer
    PreviousMonthDurationStat:
      title: PreviousMonthDurationStat
      required:
      - month
      - duration
      type: object
      properties:
        month:
          title: Month
          type: string
          format: date
        duration:
          title: Duration
          type: number
    StatsUserResponse:
      title: StatsUserResponse
      required:
      - time_converted
      - conversions
      - models
      type: object
      properties:
        time_converted:
          $ref: '#/components/schemas/StatsDurationPreviousMonthes'
        conversions:
          $ref: '#/components/schemas/ConversionStats'
        models:
          title: Models
          type: array
          items:
            $ref: '#/components/schemas/ModelStats'
    StatsProjectResponse:
      title: StatsProjectResponse
      required:
      - project_id
      - time_converted
      - conversions
      type: object
      properties:
        project_id:
          title: Project Id
          type: string
          format: uuid4
          example: 00000000-0000-0000-0000-000000000001
        time_converted:
          $ref: '#/components/schemas/StatsDuration'
        conversions:
          $ref: '#/components/schemas/ConversionStats'
